* {
	font-family: 'Titillium Web', sans-serif;
}
.fullpage {
	z-index: 0;
}
.container{
	width: 960px;
	margin: 0 auto;
}

h2 {
	font-size: 2em;
	position: relative;
}

.col-2 {
	width: 18%;
	float: left;
	padding: 5px;
}
.col-4 {
	width: 33%;
	float: left;
}
.col-8 {
	width: 66%;
	float: left;
}

/*about styles*/

.about img {
	width: 200px;
	padding: 30px;
}


/*data styles*/
.data img {
	width: 125px;
	border-radius: 100%;
	padding: 30px;
}
.data p {
	font-size: 16px;
	padding: 50px;
}

/*slide intro styles*/
.introduction {
	background-image: url('../images/tahrirfull.png');
}
.introduction-2 {
	background-image: url('../images/both.png');
}
#section0 {
	background-size: 100%;
	background-repeat: no-repeat;
}
#section0 .arrow{
	width: 20px;
}

#section0 .intro {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
#section0 .intro-titles-one {
  text-align: left;
  top: -100px;
}
#section0 .intro-2 {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}
#section0 .intro-titles-two {
  -webkit-animation-duration: 2s;
  /*-webkit-animation-delay: 2s;*/
  text-align: left;
  top: 100px;
}
#section0 .intro-titles-one > span {
	background: rgba(243,237,232,0.8);
	height: 20px;
	line-height: 2em;
	padding: 0 35px;
}

#section0 .intro-titles-two > span {
	background: rgba(243,237,232,0.8);
	height: 20px;
	line-height: 2em;
	padding: 0 35px;
}
/*sections styles*/
#section1{
	background: url('../images/bg-circle.png');
	background-size: 100%;
	background-repeat: no-repeat;
}
#section1 h4 {
	font-size: 1.5em;
	max-width: 310px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.3em;
	margin-bottom: 12px;
}
#section1 h2 {
	color: #0B2D28;
	font-size: 4.1em;
	font-weight: 200;
	position: relative;
	margin: 0 170px;
	line-height: 1.3em;
	top: 70px;
}
#section1 h2 .strong{
	font-weight: 400;
}
#section1 hr {
	width: 50%;
	margin-top: 90px;
	margin-bottom: 10px;
	height: 2px;
	background: #0B2D28;
	border: none;
}
#section1 ul {
	width: 150px;
	text-align: center;
	margin: 0 auto;
	padding: 0px;
}
#section1 ul li {
	list-style-type: none;
	display: inline;
	float: left;
	padding: 7px;
}
#section2 .col-2 img {
	margin-bottom: 20px;
}
#section2 {
	text-align: left;
}
#section2 img{
	width: 100%;
	margin: 0 auto;
}
#section2 .title{
	font-size: 1.2em;
	line-height: 1em;
}
#section2 .line{
	width: 100%;
	height: 1px;
	background: gray;
	margin-bottom: 15px;
}
#section2 .circle1, #section2 .circle2, #section2 .circle3, #section2 .circle4, #section2 .circle5 {
	margin-bottom: 10px;
}
.circle1{
	width: 15px;
	height: 15px;
	background: #4d5e83;
	border-radius: 100%;
}
.circle2{
	width: 15px;
	height: 15px;
	background: #579e9b;
	border-radius: 100%;
}
.circle3{
	width: 15px;
	height: 15px;
	background: #e7654b;
	border-radius: 100%;
}
.circle4{
	width: 15px;
	height: 15px;
	background: #bd4d6b;
	border-radius: 100%;
}
.circle5{
	width: 15px;
	height: 15px;
	background: #a88a79;
	border-radius: 100%;
}

#section2 .super{
	font-size: 1.7em;
	line-height: 1em;
}
#section2 .description{
	font-size: 0.9em;
	line-height: 1.2em;
}
#section3 {
	background-image: url('../images/4_viz.png');
	background-size: 100%;
	background-repeat: no-repeat;
}
#section4 .name {
	font-weight: 700;
	font-size: 1.1em;
	text-align: left;
	margin-left: -32px;
}
#section4 .subtitle {
	font-size: 1em;
	text-align: left;
	line-height: 3em;
	margin-left: 2px;
}
#section4 p.description {
	font-size: 16px;
	width: 201px;
	text-align: left;
	margin: 0 58px;
	padding-top: 15px;
}
#section4 .about > div:nth-child(3) > span:nth-child(3){
	margin-left: -64px;
}
#section4 div.col-4:nth-child(4) > span:nth-child(3) {
	margin-left: -90px;
}
#section5 {
	text-align: left;
	width: 50%;
	margin: 0 auto;
}
#section5 h2 {
	font-size: 3em;
}
#section5 h3 {
	font-size: 1.5em;
	font-weight: 200;
}
#section5 h4 {
	font-weight: 400;
	font-size: 1.5em;
}
#section5 hr {
	margin: 20px 0px;
}
#section5 input {
	background: rgb(242, 235, 229) none repeat scroll 0% 0%;
	border: medium none;
	margin-right: 10px;
	height: 30px;
	width: 21%;
	padding-left: 20px;
	font-size: 1.2em;
}
#section5 form {
	padding: 0px;
	margin: 30px 0px;
	text-align: center;
}
#section5 button {
	color: white;
	background: #0B2D28;
	border: medium none;
	height: 30px;
	width: 23%;
	font-size: 1.2em;
}


