* {
	font-family: 'Titillium Web', sans-serif;
}
.fullpage {
	z-index: 0;
}
.container{
	width: 960px;
	margin: 0 auto;
}

h2 {
	font-size: 2em;
	position: relative;
	top: -100px;
}

.col-4 {
	width: 33%;
	float: left;
}
.col-8 {
	width: 66%;
	float: left;
}

/*about styles*/

.about img {
	width: 125px;
	border-radius: 100%;
	padding: 30px;
}
.about p {
	font-size: 16px;
}

/*data styles*/
.data img {
	width: 125px;
	border-radius: 100%;
	padding: 30px;
}
.data p {
	font-size: 16px;
	padding: 50px;
}
