// ICONS STYLES
//* --------------------------------------- */
.circle1{
	width: 15px;
	height: 15px;
	background: #4d5e83;
	border-radius: 100%;
}
.circle2{
	width: 15px;
	height: 15px;
	background: #579e9b;
	border-radius: 100%;
}
.circle3{
	width: 15px;
	height: 15px;
	background: #e7654b;
	border-radius: 100%;
}
.circle4{
	width: 15px;
	height: 15px;
	background: #bd4d6b;
	border-radius: 100%;
}
.circle5{
	width: 15px;
	height: 15px;
	background: #a88a79;
	border-radius: 100%;
}
